{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<!-- component -->

        <a href="{{absolute_url(path('modifierPass',{'token': token }))}}"> changer votre mot de passe </a>

{% endblock %}
